{% x:styleguide/section { headline: 'Colour Palette' } %}
    <div class="flex flex-col gap-10 xl:gap-16">

		{# Neutral #}
		{% if neutral is defined and neutral is not empty %}
			<div class="flex flex-col gap-2 md:gap-4">

				<h2 class=" h3 text-neutral-700 dark:text-neutral-200">
					Neutral
				</h2> 

				<div class="flex flex-row gap-8 md:gap-12 xl:gap-16">
					<div class="w-16 h-16 shadow-sm rounded-none shadow-neutral-400/25 md:w-24 md:h-24 xl:w-32 xl:h-32 bg-neutral-100">
						<span class="grid w-full h-full text-xs font-semibold transition opacity-0 hover:opacity-100 cursor-copy text-neutral-800 md:text-sm xl:text-base shade-copy place-items-center">
							{{ neutral ?? "" }}
						</span>
					</div>

					<div class="flex gap-0 overflow-hidden shadow-sm rounded-none shadow-neutral-400/25">
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-neutral-50"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">50</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-neutral-100"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">100</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-neutral-200"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">200</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-neutral-300"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">300</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-neutral-400"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">400</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-neutral-500"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">500</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-neutral-600"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">600</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-neutral-700"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">700</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-neutral-800"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">800</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-neutral-900"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">900</span></div>
					</div>
				</div>

			</div>
		{% endif %}

        {# Primary #}
		{% if primary is defined and primary is not empty %}
			<div class="flex flex-col gap-2 md:gap-4">

				<h2 class=" h3 text-neutral-700 dark:text-neutral-200">
					Primary
				</h2> 

				<div class="flex flex-row gap-8 md:gap-12 xl:gap-16">
					<div class="w-16 h-16 shadow-sm rounded-none shadow-primary-400/25 md:w-24 md:h-24 xl:w-32 xl:h-32 bg-primary-500">
						<span class="grid w-full h-full text-xs font-semibold text-white transition opacity-0 hover:opacity-100 cursor-copy md:text-sm xl:text-base shade-copy place-items-center">{{ primary ?? "" }}</span>
					</div>

					<div class="flex gap-0 overflow-hidden shadow-sm rounded-none shadow-primary-400/25">
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-primary-50"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">50</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-primary-100 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">100</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-primary-200 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">200</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-primary-300 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">300</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-primary-400 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">400</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-primary-500 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">500</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-primary-600 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">600</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-primary-700 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">700</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-primary-800 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">800</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-primary-900"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">900</span></div>
					</div>
				</div>

			</div>
		{% endif %}

        {# Secondary #}
		{% if secondary is defined and secondary is not empty %}
            <div class="flex flex-col gap-2 md:gap-4">

				<h2 class="h3 text-neutral-700 dark:text-neutral-200">
					Secondary
				</h2> 

				<div class="flex flex-row gap-8 md:gap-12 xl:gap-16">
					<div class="w-16 h-16 shadow-sm rounded-none shadow-secondary-400/25 md:w-24 md:h-24 xl:w-32 xl:h-32 bg-secondary-500">
						<span class="grid w-full h-full text-xs font-semibold text-white transition opacity-0 hover:opacity-100 cursor-copy md:text-sm xl:text-base shade-copy place-items-center">
							{{ secondary ?? "" }}
						</span>
					</div>

					<div class="flex gap-0 overflow-hidden shadow-sm rounded-none shadow-secondary-400/25">
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-secondary-50"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">50</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-secondary-100 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">100</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-secondary-200 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">200</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-secondary-300 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">300</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-secondary-400 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">400</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-secondary-500 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">500</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-secondary-600 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">600</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-secondary-700 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">700</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-secondary-800 "><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">800</span></div>
						<div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-secondary-900"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">900</span></div>
					</div>
				</div>

			</div>
		{% endif %}

		{# Accent #}
		{% if accent is defined and accent is not empty %}
            <div class="flex flex-col gap-2 md:gap-4" x-data="{
                theme: 'default',
                updateTheme(value){ this.theme = value },
                getThemeClass(){ return this.theme },
                themeIsActive(value){ return this.theme == value }
            }">

				<div class="flex flex-col items-start gap-4 sm:items-center sm:gap-8 lg:gap-16 sm:flex-row">

				<h2 class="h3 text-neutral-700 dark:text-neutral-200">
					Accent
				</h2> 

                    <div class="flex flex-wrap items-center gap-2 text-sm lg:gap-4">
						{% for theme in [
							{ id: 'default', color: 'Default', name: 'Default', hex: accent.default },
							{ id: 'theme-extra', color: 'Extra', name: 'Extra', hex: accent.extra },
						] %}

							<button class="{{ theme.id }} px-2 sm:px-4 py-1 sm:py-2 font-bold transition border-2 rounded-none body-md text-accent-900 border-accent-300 hover:bg-accent-100" x-on:click="updateTheme('{{ theme.id }}')" :class="{ 'bg-accent-100' : themeIsActive('{{ theme.id }}') }">
								{{ theme.name }}
							</button>

						{% endfor %}

                    </div>

                </div>

                <div :class="getThemeClass()">
                    <div class="flex flex-row gap-8 md:gap-12 xl:gap-16">

                        <div class="w-16 h-16 shadow-sm rounded-none shadow-neutral-400/25 md:w-24 md:h-24 xl:w-32 xl:h-32 bg-accent-500">
                            <div class="grid w-full h-full text-xs font-semibold text-white transition opacity-0 hover:opacity-100 cursor-copy md:text-sm xl:text-base shade-copy place-items-center">

                                <span x-show="themeIsActive('default')">{{ accent.default }}</span>
                                <span x-show="themeIsActive('theme-extra')">{{ accent.extra }}</span>

                            </div>
                        </div>

                        <div class="flex gap-0 overflow-hidden shadow-sm rounded-none shadow-neutral-400/25">
                            <div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-accent-50"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">50</span></div>
                            <div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-accent-100"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">100</span></div>
                            <div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-accent-200"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">200</span></div>
                            <div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-accent-300"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">300</span></div>
                            <div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-accent-400"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-700">400</span></div>
                            <div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-accent-500"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">500</span></div>
                            <div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-accent-600"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">600</span></div>
                            <div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-accent-700"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">700</span></div>
                            <div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-accent-800"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">800</span></div>
                            <div class="w-8 h-16 md:w-12 md:h-24 xl:w-16 xl:h-32 bg-accent-900"><span class="grid w-full h-full font-bold transition opacity-0 cursor-copy shade-copy hover:opacity-100 place-items-center body-md text-neutral-50">900</span></div>
                        </div>

                    </div>
                </div>


			</div>
		{% endif %}

    </div>
{% endx:styleguide/section %}